
body {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

#container {
    width: 900px;
    margin: auto;
    background-color: rgba(31, 30, 30, 0.531);
    background-size: contain;
    text-align: center;
    box-sizing: border-box;
    padding: 7%;
    border-radius: 10px;
}

#logo-pic {
    width: 150px;
}

#motto {
    color: rgb(13, 206, 13);
    line-height: 1px;
}

nav {
    background-color:  rgb(13, 206, 13);
    padding: 8px;
}



.mono {
    text-align: left;
    color: white;
    margin-top: 20px;
}

.mono-user {
    display: inline;   
}

#battery1 {
    height: 25px;
    width: 300px;
    background-color: orange;
    border-radius: 5px;
}

#battery2 {
    height: 25px;
    width: 500px;
    background-color: rgb(15, 207, 15);
    border-radius: 5px;
}

#battery3 {
    height: 25px;
    width: 150px;
    background-color: rgb(215, 75, 75);
    border-radius: 5px;
}